* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}



.navbar {
    background-color: #ece4e4;
    /* display: inline-block; */
    padding: 15px;
    width: 100%;
    height: 50px;
    justify-content: center;


}

.contenedor {
    min-width: 160vh;
    width: 600px;
    min-height: 100vh;
    margin: auto;
    justify-content: space-between;
    overflow: hidden;
    
}

.contenedor2{
    width: 100%;
    height: 500%;
    display: flex;
    justify-content: center; 
    margin: auto; 
    background-color:rgb(207, 198, 198);
}

.banner {
    width: 1000px;
    height: 400px;
    /* background-color: aliceblue; */
    background-image: url("img/pibe.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.descripcion {
    width: 1100px;
    height: 400px;
    justify-content: space-between;
    display: flex;
}

.info_descrip{
    width: 500px;
    height: 500px;
    background-color: rgb(187, 173, 173);
}    

.info_descrip2{
    width: 500px;
    height: 500px;
   
}

.resaltador{
    /* flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 5%;
}

.resaltador_img{
    display: flex;
    height: 300px;
    width: 75%;
    background-color: black;
}

.productos {
    width: 1035px;
    height: 500px;
    background-color: rgb(202, 147, 75);
    display: flex;
    text-align: center;
}

.arte1 {
    width: 258px;
    height: 500px;
    background-color: #86e9ec;
   
}
.arte2 {
    width: 258px;
    height: 500px;
    background-color: #e99d9d;
    
}
.arte3 {
    width: 258px;
    height: 500px;
    background-color: #f0b1d3;
    
}
.arte4 {
    width: 260px;
    height: 500px;
    background-color: #e9e2f3;
    
}

.nosotros {
    width: 1100px;
    height: 500px;
}

.fotos{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 5%;
}

.texto{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.card-image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    margin: 10%;
}

.card-image .card-img{
    height: 150%;
    width: 150%;
    padding: 20%;
    margin: 15px;
    border-radius: 50%;
    background-size: cover;
}


.cajaimg{
    display: flex;
    height: 300px;
    width: 75%;
    background-color: black;
}

img{
    width: 100%;
    height: 100%;
}

.letra1{
    font-family: "Montserrat", sans-serif;
}

.letra2{
    font-family: "Bebas Neue", sans-serif;
    
}

.info{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.infoo{

    height: 180px;
    width: 75%;
    
}

